@charset "UTF-8";

/*   共通のスタイル   */
html {
  font-size: 100%;
}

img {
  max-width: 100%;
}

.logo {
  position: fixed;
  width: 80px;
  margin: 10px;
}

#page-header {
  display: flex;
}


.page-title {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 3em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(0, 0, 0);
}

footer {
  width: 62.5%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-top: double #e1c0b6;
  padding: 20px 0;
}




/* ハンバーガーメニュー */
.nav {
  display: block;
  position: fixed;
  padding-top: 25px;
  top: 0px;
  right: -300px;
  bottom: 0px;
  width: 300px;
  background: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.5s;
  z-index: 3;
  opacity: 0.5;
}



.open .nav {
  right: 0;
  opacity: 0.8;
  padding: 25px;
}

.nav-item {
  position: relative;
  margin: 0px;
  border-bottom: 1px solid #333 ;
}
.nav-item a:nth-child(1) {
  font-size: 20px;
  margin-top: 40px;
  color: #333;
  transition-duration: 1.5s;
}
.nav-item a {
  font-size: 20px;
  margin-top: 22.5px;
  color: #333;
  transition-duration: 1.5s;
}

.nav-item a:hover{
  background-color: #e1c0b6;
}

#mask{
  transition: all 0.9s;
}

.open #mask {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.7;
  z-index: 2;
  cursor: pointer;

}


.toggle_btn {
  display: block;
  position: fixed;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  transition: all .8s;
  cursor: pointer;
  z-index: 4;
  
}

.toggle_btn span {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #333;
  border-radius: 4px;
  transition: all .8s;
}

.toggle_btn span:nth-child(1) {
  top: 4px;
}
.toggle_btn span:nth-child(2) {
  top: 14px;
}
.toggle_btn span:nth-child(3) {
  bottom: 4px;
}

.open .toggle_btn span {
  background-color: #333;
}

.open .toggle_btn span:nth-child(1){
  transform: translateY(10px) rotate(-315deg);
}

.open .toggle_btn span:nth-child(2){
  opacity: 0;  
}

.open .toggle_btn span:nth-child(3){
  transform: translateY(-10px) rotate(315deg);   
}





/*   Homeのスタイル   */
#home .mainImg {
  width: 100%;
}

#home main {
  width: 62.5%;
  margin-left: auto;
  margin-right: auto;
}




/*   Menuのスタイル   */
#menu {
  background-color: #fff;  
  min-height: 100vh;
}

#menu .page-title {
  width: 62.5%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  color: #e1c0b6;
  border-bottom: double ;
}

#menu main {
  width: 62.5%;
  margin-left: auto;
  margin-right: auto;
}


#menu main dl {
  display: flex;
}

#menu main dt {
  display: flex;
  align-items: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px;
  font-weight: normal;
}

#menu main dt::after {
  border-top: 1px dashed #e1c0b6;
  opacity: 0.375;
  content: "";
  flex-grow: 1;
  margin-left: 1rem;
}

#menu main dd {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px;
}



#menu main h3 {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

#menu main h3::after {
  border-top: 1px solid #e1c0b6;
  content: "";
  flex-grow: 1;
  margin-left: 1rem;
}


/*   Accessのスタイル   */
#access {
  background-color: #fff;  
}

#access .page-title {
  width: 62.5%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  color: #e1c0b6;
  border-bottom: double ;
}

#access main {
  width: 62.5%;
  margin-left: auto;
  margin-right: auto;
}

#access .wrapper {
  display: flex;
}


#access .info {
  width: 50%;
}

#access .info h2 {
  border-bottom: 2px solid #e1c0b6;
  padding-bottom: 5px;
}

#access .info a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

#access .info a:hover{
  color: #e1c0b6;
}

#access .info-img {
  text-align: center;
  width: 35%;
}

#access .info dl {
  display: flex;
  
}

#access .info dt {
  width: 30%;
  padding: 20px;
  border-bottom: 1px solid #e1c0b6;

}

#access .info dd {
  padding: 20px;
  margin: 0;
  width: 70%;
  border-bottom: 1px solid #e1c0b6;
}

#access iframe {
  width: 100%;
  margin: 20px 0;
}